@{
    ViewData["Title"] = "Home Page";
}

<section class="index">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
    <img id="mouse-follower" src="../img/roman-chiquito.png" alt="Seguidor de Mouse">
    
    <div class="menu">
        <h1>PREGUNTADORT</h1>
        <a href='@Url.Action("ConfigurarJuego")'> <button type="button" class="btn btn-outline-light">CONFIGURACION</button> </a> 
        <!-- BOORAR ESTO DE ABAJO -->
        <a href='@Url.Action("Ruleta")'> <button type="button" class="btn btn-outline-light">Ruleta</button> </a>
    </div>

</section>

<SCript src="../js/mouseIndex.js"> </SCript>