<section class="jugar">

    <h3>USERNAME</h3>
    <h3 class="puntos">POINTS: xxx </h3>

    <div class="contenedor-preguntas">

        <div class="card-pregunta">
            <div class="pregunta">
                <h2>¿AASDA ASD ASD A SD AS D?</h2>
            </div>
            <div class="img-pregunta">
                <img src="../img/fondo.png" alt="">
            </div>
        </div>

        

    </div>

</section>