<section class="ruleta">
    
    <div class="wrapper">
        <div id="final-value">
            <H1>Click On The Spin Button To Start</H1>
        </div>

        <div class="container">
            <canvas id="wheel"></canvas>
            <button id="spin-btn">SPIN</button>
            <img src="../img/libertadores.png" alt="spinner arrow" />
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
    <script src="../js/ruleta.js"></script>
</section>