html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* F----------------------------------- INDEX ---------------------------------------------*/

.index{
  width: 100%;
}

.index, .configuracion{
  height: 100vh;
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.index, .configuracion  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index h1, .configuracion h1{
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 500%;
}

.menu{
  margin-top: 13%;
}
.index  .menu a{
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: inherit;

}

.menu  button{
  margin-top: 3%;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

#mouse-follower {
  width: 10%;
  position: absolute;
  pointer-events: none; /* Evita que la imagen interfiera con los clics del mouse */
  transform: translate(-50%, -50%); /* Centra la imagen en la posición del mouse */
}



/* -------------------------- CONFIGURACION  ------------------------*/
.configuracion .contenedor-config{
  margin-top: 10%
  
}
.configuracion form input{
  margin-top: 2%;
}
.configuracion .form-select{
  margin-top: 2%;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(90, 90, 90);
}
.opcion {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.configuracion input[type="submit"]{
  width: 100%;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
.configuracion label{
  width: 100%;
  color: rgb(90, 90, 90);
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
.configuracion [type="text"] {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}


/* -------------------- JUGAR ----------------------*/
.jugar, .respuesta{
  height: 100vh;
  background-image: url(../img/fondo-jugar.jpg);
  background-repeat: round;
  display: flex;
  flex-direction: column; 

  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.jugar h3{
  position: absolute;
  top: 4%;
  left: 2%;
  color: white;
}
.jugar h3:last-of-type{
  position: absolute;
  left: 86%;
}

.contenedor-preguntas{
  margin: 0 auto;
  margin-top: 4%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-pregunta{
  width: 100%;
  margin: 0;
  
}
.pregunta{
  display: flex;
  justify-content: center;
  height: 20%;
  background-color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pregunta h4{
  margin-top: 1%;
}

.img-pregunta img{
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.jugar .respuestas{
  margin-top: 3%;
}

.contenedor-opciones{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.opciones{
  margin-top: 1%;
  background-color: white;
  width: 48%;
  height: 50px; 
  border-radius: 10px;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}

.jugar button[type="submit"]
{

  margin-top: 2%;
  width: 100%;
}

/*------------------- RESPUESTA ----------------------*/
.respuesta{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.respuesta h1{
  margin-top: 3%;
  margin-bottom: 2%;
}
.respuesta img{
  margin-bottom: 2%;
  width: 50%;
}